.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    min-width: 1100px;
}

.header__logo-image{
    width: 135px;
    display: block;
}
.address{
    font-style: none;
    font-weight: 400;
    font-size: 18px;
    align-self: center;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 98px;
    margin-right: 50px;
    text-underline-position: under;
    font-style: normal;
}

.address-contacts{
    padding-bottom: 2px;
}
.address-address-text{
    padding-top:4px;
    font-style: normal;
}
.header__links-list{
    display: flex;
    gap: 15px;
    margin-top: -5px;
    margin-left: 50px;
    list-style: circle;
    text-underline-position: under;
    
}

.header__links-list-item_no-bullit{
    list-style: none;
}
.header__links-list-item{
    text-decoration: underline;
    
}

.link-text{
    font-weight: 400;
    font-size: 18px;
    
}

.cover{
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
}
.cover__text-block{
    height: 385px;
    padding-top: 165px;
    padding-left: 50px;
    width: 1080px;
    
}

.cover__text-block-word1{
    text-align:left;
    font-weight:700;
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
    padding-bottom: 15px;
    color: white;
}

.cover__text-block-word2{
    text-align:center;
    font-weight:700;
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
    padding-bottom: 18px;
    color: white;
}

.cover__text-block-word3{
    text-align:right;
    font-weight:700;
    font-style: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
    color: white;
}

.description-block{
    display: flex;
    margin-left:50px;
    margin-top: 285px;
}
.description-text{
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
    letter-spacing: 0%;
    padding-right: 105px;
    color: white;
    line-height:28px;
}

.description-buttom{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    margin-top:-12px;
    border: 1px solid white;

}

.lots{
    padding-top: 180px;
    margin-left: 25px;
}

.lots-title{
    font-size: 40px;
    padding-left: 38px;
    padding-bottom: 27px;
    text-transform: uppercase;
}
.lots-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lots-section{
    display: flex;
    flex-direction: column;
    height: 596px;
    width: 334px;
}



.lots-section:nth-of-type(1){
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
}
.lots-section:nth-of-type(2){
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}
.lots-section:nth-of-type(3){
    background-image: url(../images/card-lot-03.jpg);=
    background-size: cover;
}
.lots-section-title{
    width: 270px;
    margin: 48px 0px 0px 40px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1px;
    text-underline-position:under;
    font-weight: 700;
    font-style: bold;
    color: white;
}

.lots-section-paragraph{
    width: 265px;
    margin: 0px 0px 0px 40px;
    font-style: regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: white;
}

.lots-section-paragraph1{
    padding-top: 280px;
}

.lots-section-paragraph2{
    padding-top: 35px;
}

.lots-section-paragraph3{
    padding-top: 133px;
}

.lots-link{
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 1px;
    text-underline-position:under;
    padding-top: 30px;
    padding-left:40px
}

.about{
    width: 1052px;
    height: 595px;
}

.logo-block{
    margin-left: 72px;
    margin-top: 154px;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 1000px
}
.about-image{
    width: 147px;
    display: block;
    margin: auto;
    padding-top: 64px;
}

.about__main-block{
    margin-left: 385px;
    margin-top: -140px;
    width: 693px;
    height: 449px;
}

.about-title{
    font-size: 40px;
    font-weight:700;
    text-transform:uppercase;  
    padding-bottom:100px
}
.about-text{
    width: 685px;
    font-size:20px;
    font-weight: 400;
    padding-bottom: 25px;
}

.footer{
    padding-top:147px;
    padding-left:50px;
    display: flex;
}

.address-footer{
    width: 265px;
}
.footer__links-list{
    display:flex;
    flex-direction:column;
    list-style: none;
    align-items:center;
    padding-right: 190px;
    padding-left: 110px;
    
}
.footer__links-list-item{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position:under;
}

.footer__image-block{
    display:flex;
    gap:47px;
}
.footer-image{
    width: 48px;
}
